*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
    background: linear-gradient(320deg, #faebd7, #be9b7b, #4b3832);
    padding: 20px;
}

.form-section{
    padding: 40px 50px 30px;
    background: linear-gradient(320deg, #faebd7, #be9b7b);
    flex: auto;
}

.form-section form{
    margin-top: 15px;
}

.form-group{
    margin-bottom: 12px;
}

.form-group label{
    font-size: large;
    font-weight: 700;
    color: #4b3832;
    display: block;
    margin-bottom: 5px;
}

.form-group input, .form-group textarea{
    font-size: 1.2rem;
    font-weight: 500;
    width: 100%;
    color: midnightblue;
    padding: 0.35rem;
    cursor: text;
    border: 2px solid #4b3832;
    border-radius: 5px;
    outline: none;
}

.form-group textarea{
    height: 170px;
    resize: none;
}

.send-button{
    color: #fff;
    font-weight: bold;
    background: #4b3832;
    padding: 6px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 15px;
}

.send-button:hover{
    background-color: #be9b7b;
    transform: scale(1.2);
}

.result-container{
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.result-container p{
    font-size: 1rem;
    color: #3461ca;
    font-weight: 500;
    opacity: 0;
    transition: all 0.3s ease;
}

